'.source.js':
  'Collection findOne':
    'prefix': 'findOne()'
    'body': 'findOne($1)'
  'Collection findOneAndUpdate':
    'prefix': 'findOneAndUpdate()'
    'body': 'findOneAndUpdate($1, {$2})'
  'Collection find, toArray':
    'prefix': 'find().toArray()'
    'body': 'find($1).toArray()'
  'Collection find, count':
    'prefix': 'find().count()'
    'body': 'find($1).count()'
  'Collection insert':
    'prefix': 'insertOne()'
    'body': 'insertOne($1)'
  'Collection insert many':
    'prefix': 'insertMany()'
    'body': 'insertMany($1)'
  'Collection update':
    'prefix': 'updateOne()'
    'body': 'updateOne($1)'
  'Collection update many':
    'prefix': 'updateMany()'
    'body': 'updateMany($1)'
  'Collection upsert':
    'prefix': 'upsert()'
    'body': 'upsert($1)'
  'Collection delete':
    'prefix': 'deleteOne()'
    'body': 'deleteOne($1)'
  'Collection delete many':
    'prefix': 'deleteMany()'
    'body': 'deleteMany($1)'
